<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selecione um Cliente</title>
</head>
<body>
    <h1>Selecione um Cliente</h1>
    <form action="/customer_info" method="post">
        <select name="customer">
            {% for customer in customers %}
                <option value="{{ customer }}">{{ customer }}</option>
            {% endfor %}
        </select>
        <button type="submit">Visualizar Informações</button>
    </form>
</body>
</html>
